<!DOCTYPE html>
<html lang="pt-BR">
{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
    <title>Login</title>
</head>
<body>
    <header>
        <div>
            <img src="{% static 'img/title2.png' %}" id="title" >
        </div>
    </header>

    <div id="lousa">
        <img src="{% static 'img/lousa2.png' %}"  id="imgLousa" >
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <label id="senha">Usuário:</label><input name="username" type="text"/><br>
            <label id="senha">Senha:</label><input name='password' type="password"/>
            <div>
                <a href="http://">Esqueci minha senha</a>
                <button type="submit" id="entrar">Entrar</button>
            </div>
        </form>
        </div>
        <a href="/accounts/cadastro" id="cadastro">
            <label>Não possui uma conta? </label>
            <button id="btn-cadastrar">Cadastre-se</button>
        </a>
    </div>
    <footer>
        <img src="{% static 'img/git1.png' %}" alt="" id="git">
        <div id="mgit">
            <a target="black" href="https://github.com/FelippeAlves" class="links">Felippe Alves</a>
            <a target="black" href="https://github.com/nayaralorrane" class="links">Nayara Lorrane</a>
            <a target="black" href="https://github.com/togarci" class="links">Thyago Garcia</a>
        </div>
    </footer>

</body>
